<wm-page layouttype="blank" columns="1" data-ng-controller="PagePageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" name="column1"></wm-column>
        </wm-row>
    </wm-content>
</wm-page>